<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;" th:object="${availability}">
    <div class="form-group">
        <label th:for="name">availability</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <br/>
    <div class="form-group">
        <label th:for="day">Day</label>
        <input class="form-control" th:field="*{day}" />
        <span th:errors="*{day}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="user">User</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.name}"
                    th:value="${user.id}"></option>
        </select>
    </div>
    <input type="submit" value="Add Availability" />
</form>

</body>
</html>