<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" >
    <div  th:each="availability : ${availabilities}" class="checkbox">
        <input type="checkbox" name="availabilityIds" th:value="${availability.id}" th:id="${availability.id}"/>
        <label th:for="${availability.id}" th:text="${availability.name}"></label>
        <br/>
    </div>
    <br/>
    <input type="submit" value="Remove" />
</form>

</body>
</html>