<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Employee Schedule</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <nav th:fragment="navigation">
        <a href="/">Home</a> |
        <a href="/user/login">Login</a> |
        <a href="/availability/list">Schedule</a> |
        <a href="/availability/add">Add Availability</a> |
        <a href="/availability/remove">Update Availability</a> |
        <a href="/user/add">Logout</a>

    </nav>
</head>
<body>

</body>
</html>